.new-tweet {
  margin: auto;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5em;
  border: 1px solid grey;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0;
}

.new-tweet .counter {
  float: right;
  margin: 0.2em 0.5em 0 0;
}

.new-tweet .warning {
  margin: 16%;
  color: #ff6666;
  text-align: center;
}

.show {
  display: inline;
}

.new-tweet textarea {
  padding: 0.5em;
  margin: 1em 0 0 0;
  width: 100%;
}

.negative {
  color: red;
}

.hidden {
  display: none;
}